<strong>Start Date: <%= @booking.start_date %></strong> | <strong>End Date: <%= @booking.end_date %></strong>

<h4><strong><%= @booking.caravan.name %></strong></h4>
<p>Location: <%= @booking.caravan.address %></p>
<p><%= @booking.caravan.description %></p>
