<div class="container">
  <h1>All our caravans (<%= Caravan.count %>)</h1>

  <%# Banner for creating a new caravan %>
  <div class="banner" style="background: linear-gradient(164deg, rgba(230,156,152,1) 0%, rgba(230,89,81,1) 100%);">
    <div class="container">
      <p>You have a caravan you like to offer?</p>
      <%= link_to "Create a caravan!", new_caravan_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row">
    <% @caravans.each do |caravan| %>
    <div class="col-3">
      <%= link_to caravan_path(caravan) do %>
      <div class="card h-100">
        <div class="card-image"
          style="background-image: url(<%= caravan.photo.attached? ? cl_image_path(caravan.photo.key) : cl_image_path("photo-1597192535374-aeba30156218_fgalot.avif") %>)">
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= caravan.name %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= caravan.address %></h6>
          <div class="flex">
            <i class="fas fa-user-group"></i> <%= caravan.number_of_guests %><%# fix font awesome icon line 13 %>
            <i class="fas fa-euro-sign"></i> <%= caravan.price %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
