<div class="container">
  <h1>All our caravans (<%= Caravan.count %>)</h1>

  <div class="row">
    <div class="col-7">
      <div class="row mt-5">
        <% @caravans.each do |caravan| %>
          <%= link_to caravan_path(caravan) do %>
            <div class="card-product">
              <%= caravan.photo.attached? ? cl_image_tag(caravan.photo.key) : cl_image_tag("caravan.avif") %>
              <div class="card-product-infos w-100">
                <h2><%= caravan.name %></h2>
                <div>
                  <p><%= caravan.description %></p>
                </div>
                <div class='d-flex justify-content-end'>
                  <div class='d-flex me-4'>
                    <p class="fas fa-map-marker-alt me-2"></p>
                    <%# add only the city and not the whole :address %>
                    <% geo_localization = "#{caravan.latitude},#{caravan.longitude}" %>
                    <p><%= Geocoder.search(geo_localization).first.city %></p>
                  </div>
                  <div class='d-flex me-4'>
                    <p class="fas fa-user-group me-2"></p>
                    <p><%= caravan.number_of_guests %></p>
                  </div>
                  <div class='d-flex'>
                    <p class="fas fa-euro-sign me-2"></p>
                    <p><%= caravan.price %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-5">
      <div class="mb-1">
        <h3>Discover all Caravans available:</h3>
      </div>
      <div class="map-container">
        <div class='map'
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      </div>
      <div class="card-link">
        <div class="container">
          <h3>You have your own caravan?</h3>
          <p>Share it with others and pave the way for unforgetable adventures.</p>
          <div class="d-grid text-center">
            <%= link_to "Create a caravan!", new_caravan_path, class: "button btn-block" %>
          </div>
        </div>
    </div>
  </div>
</div>
