<div class="container">
  <h1>Create a new caravan</h1>

  <p>and share it with other people.</p>

  <div class="container">
    <%= simple_form_for [ @caravan] do |f| %>
      <%= f.input :name %>
      <div class="form-container">
        <div class="item"><%= f.input :price %></div>
        <div class="item"><%= f.input :number_of_guests %></div>
        <%= f.input :availability %>
      </div>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit caravan", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
