<div class="container">
  <div class="row">
    <div class="col">
        <div class="d-inline-flex ">
          <h2><%= @caravan.name %></h2>
          <%= link_to caravans_path do %>
            <div class="button d-flex ms-3"><i class="fas fa-arrow-alt-to-left"></i> Back to list</div>
          <% end %>
        </div>
        <%= @caravan.photo.attached? ? cl_image_tag(@caravan.photo.key) : cl_image_tag("caravan.avif") %>
      <div class="d-flex my-2 py-2">
        <%= @caravan.user.avatar.attached? ? cl_image_tag(@caravan.user.avatar.key, class: "avatar-square") : cl_image_tag("f3bv88cl12x3bjrtbkwdjzb6hz6t", class: "avatar-square") %>
        <div class="mx-3">
          <p><%= @caravan.user.first_name.capitalize %>'s camper</p>
          <p><%= @caravan.address.capitalize%></p>
        </div>
      </div>
      <div class="bg-dark text-dark bg-opacity-10 p-3 my-4 d-flex justify-content-evenly">
        <h3 class="card-trip-pricing fas fa-user-group"> <%= @caravan.number_of_guests%></h3>
        <h3 class="card-trip-pricing fas fa-euro-sign"> <%= @caravan.price%></h3>
        <% if @caravan.availability %>
           <h3 class="card-trip-pricing">Available: <i class="fas fa-check-circle" style="color: #1EDD88"></i></h3>
        <% else %>
          <h3 class="card-trip-pricing">Available: <i class="fas fa-times-circle" style="color: #e60f04"></i></h3>
        <% end %>
      </div>
        <h3>About</h3>
        <p><%= @caravan.description %></p>
    </div>
    <div class="col-3">
      <% if @caravan.user == current_user %>
        <%= link_to caravan_path, method: :delete do %>
          <div class="button-success-flat d-flex">
            <i class="fa-solid fa-trash-can"> </i>
            <p>Delete your caravan</p>
          </div>
        <% end %>
      <% else  %>
        <h1>Book this caravan</h1>
        <div class="container">
          <%= simple_form_for [ @caravan, @booking] do |f| %>
          <%= f.input :start_date, html5: true %>
          <%= f.input :end_date, html5: true %>
          <%= f.submit "Book now", class: "button-success-flat btn-block" %>
          <% end%>
        </div>
      <% end %>
    </div>
  </div>

  <div id="reviews">
    <li><%= link_to "add a review",  new_caravan_review_path(@caravan) %></li>
    <% if @caravan.reviews.blank? %>
      Be the first to leave a review for <%= @caravan.name %>
    <% else %>
    <% @caravan.reviews.each do |review| %>
      <p id="review-<%= review.id %>"><%= review.content %></p>
      <% review.rating.times do %>
        <i class="fa-solid fa-star"></i>
        <% end %>
      <% end %>
    <% end %>

</div>
