<div class="container">
  <h2><%= @caravan.name %></h2>
  <%= @caravan.photo.attached? ? cl_image_tag(@caravan.photo.key) : cl_image_tag("caravan.avif") %>
  <p>Description: <%= @caravan.description %></p>
  <p>Price per night: <%= @caravan.price%> €</p>
  <p>Address: <%= @caravan.address%></p>
  <p>Sleeps: <%= @caravan.number_of_guests%></p>

  <p>Owner: <%= @caravan.user.first_name %> <%= @caravan.user.last_name %> </p>
  <br>
  <% if @caravan.user = current_user %>
    <%= link_to caravan_path, method: :delete do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  <% else  %>
    <%= link_to new_caravan_booking_path(@caravan), class:"btn btn-primary" %>
  <% end %>
</div>
