<h2><%= @caravan.name %></h2>
<p><%= @caravan.description %></p>
<p><%= @caravan.price%></p>
<p><%= @caravan.address%></p>
<p><%= @caravan.number_of_guests%></p>
<%# <p><%= @caravan.first_name @caravan.last_name%>
