<div class="container ">
  <h1>Hi <%= @user.first_name.capitalize %> <i class="fa-solid fa-hand-wave"></i></h1>
  <div class="d-flex justify-content-end">
    <%= link_to "Edit profile", edit_registration_path(@user), class:"button" %>
  </div>
  <div class="container bg-light m-4 p-3 rounded-3">
    <h4>Your reservations:</h4>
    <div class="container">
      <table class="table">
        <thead>
          <tr >
            <th></th>
            <th>Caravan</th>
            <th>Dates</th>
            <th>Duration</th>
            <th>Total price</th>
            <th colspan="3">Booking status</th>
          </tr>
        </thead>
        <tbody>
          <% @user.bookings.each do |booking| %>
            <tr>
              <td><%= booking.caravan.photo.attached? ? cl_image_tag(booking.caravan.photo.key, height: 100, crop: :fill) : cl_image_tag("caravan.avif") %></td>
              <td><%= booking.caravan.name.capitalize %></td>
              <td><%= booking.start_date.strftime("%d %b %Y") %> - <%= booking.end_date.strftime("%d %b %Y") %></td>
              <td><%= (booking.end_date - booking.start_date ).to_int %> nights</td>
              <td><p class="fas fa-euro-sign me-2"></p><%= ((booking.end_date - booking.start_date) * booking.caravan.price).to_int %></td>
              <td><%= booking.confirmed? ? "Confirmed" : "Reservation pending" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container bg-light m-4 p-3 rounded-3">
    <h4>Bookings in your caravans:</h4>
    <div class="container">
      <table class="table">
        <thead>
          <tr >
            <th>Caravan</th>
            <th>Guest</th>
            <th>Dates</th>
            <th>Duration</th>
            <th>Total price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @caravans.each do |caravan| %>
            <% caravan.bookings.each do |booking| %>
              <tr>
                <td><%= booking.caravan.name %></td>
                <td><%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></td>
                <td><%= booking.start_date.strftime("%d %b %Y") %> - <%= booking.end_date.strftime("%d %b %Y") %></td>
                <td><%= (booking.end_date - booking.start_date ).to_int %> nights</td>
                <td><p class="fas fa-euro-sign me-2"></p><%= ((booking.end_date - booking.start_date) * booking.caravan.price).to_int %></td>
                <td><% unless booking.confirmed? %>
                    <%= link_to "Confirm", caravan_booking_path(caravan, booking), method: :put, class:"button" %>
                  <% else %>
                    <span style="color:green">Confirmed </span>
                  <% end %>
                  <%= link_to "Cancel", caravan_booking_path(caravan, booking), method: :delete %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
